body {background-color:darkorchid; padding:25px}

h1 {color:white; font-family: arial; font-size: 30px; padding-left: 25px;}

p {color:white; font-family: arial; font-size:25px; padding-left: 25px;}

img {padding:25px; width: 155px; height: auto;}

a {text-decoration: none; color:white; font-size: 25px; font-family: arial;}

        /* Center the navbar */
.navbar {
            text-align: center;
        }

        /* Style for the navbar links (adjust as needed) */
.navbar a {
            display: inline-block;
            padding: 10px 20px;
            text-decoration: none;  border-style:solid; background-color:red; border-color:gold;}


img {
                -webkit-user-drag: none;
                -khtml-user-drag: none;
                -moz-user-drag: none;
                -o-user-drag: none;
                user-drag: none;
                }

.navbar {
                    -webkit-user-drag: none;
                    -khtml-user-drag: none;
                    -moz-user-drag: none;
                    -o-user-drag: none;
                    user-drag: none;
                    }
    
.navbar a {
                        -webkit-user-drag: none;
                        -khtml-user-drag: none;
                        -moz-user-drag: none;
                        -o-user-drag: none;
                        user-drag: none;
                        }
        





@media only screen and (max-width: 1080px) {
               
    .navbar {
       text-align: center;;
   }
    .navbar a {display:flex; padding: 10px 20px; font-size: 100px;}
                 
    h1 {font-size: 95px;}
    p {font-size: 95px;}
    img {width: 360px; height: auto;}

}

body {
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
  }

